<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageController</servlet-name>
        <servlet-class>controller.ManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>controller.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartnerContoller</servlet-name>
        <servlet-class>controller.PartnerContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartController</servlet-name>
        <servlet-class>controller.ShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardLineController</servlet-name>
        <servlet-class>controller.CardLineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportController</servlet-name>
        <servlet-class>controller.ImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportLineController</servlet-name>
        <servlet-class>controller.ImportLineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalController</servlet-name>
        <servlet-class>controller.StatisticalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageController</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartnerContoller</servlet-name>
        <url-pattern>/partner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartController</servlet-name>
        <url-pattern>/shoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardLineController</servlet-name>
        <url-pattern>/cartLine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportController</servlet-name>
        <url-pattern>/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportLineController</servlet-name>
        <url-pattern>/importLine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalController</servlet-name>
        <url-pattern>/statistical</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
